
.progress-bar {
    width: 855px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    border-radius: 10px;
    background: #2E2337;
    height: 48px;

    .progress {
        height: 100%;
        height: 48px;
        transition: width 0.3s ease-in-out;
    }

    .green {
        background: linear-gradient(90deg, rgba(35, 117, 113, 1) 0%, rgba(6, 155, 125, 1) 100%);
        position: absolute;
        top: 0;
        z-index: 2;
    }

    .progress.progress-striped {
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        background-image: url("/assets/loading-image.png"), linear-gradient(90deg, rgba(0, 59, 149, 1) 80%, rgba(1, 156, 253, 1) 100%);

        background-size: contain;
        position: absolute;
        top: 0;
        z-index: 1;


    }

    .tradingVolume-break-point {
        position: absolute;
        top: -60px;
        transform: translateX(-50%);
    }

    .price-break-point {
        position: absolute;
        top: 80px;
        transform: translateX(-50%);

    }

    .break-point {
        position: absolute;
        width: 1px;
        height: 95px;
        z-index: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #40374A;
    }


}